@import url(http://fonts.googleapis.com/css?family=Pacifico);


body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 26px;
  color: #333;
  background: #fefefe;
}

/* PANTLLA INICIAL - 1 */
.header-logo {
  padding-top: 10%;
  width: 250px;
}

.text-top-30 {
  margin-top: 90px;
}

.input-dni{
  margin-top: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  text-align: center;
  color: #2b2b2b;
}

.input-dni:focus {
  border-color: #28a745;
  outline:0px;
}

.input-dni::-webkit-input-placeholder {
  color: #ccc;
  font-size: 0.8em;
}
.input-dni:-moz-placeholder {
  color: #ccc;
  font-size: 0.8em;
}
.input-dni:-ms-input-placeholder { 
  color: #ccc;
  font-size: 0.8em;
}

/* PANTLLA INICIAL - 3 */
.header-logo-app {
  width: 180px;
}

.header-title{
  height: 20px;
  background: #022984;
  padding: 4px;
  vertical-align: middle;
  width: 100%;
  font-size: 0.67em;
  align-content: center;
  color:white;
  display: table;
  border-radius: 4px 4px 0px 0px;
}

.header-text {
  margin-left: 9px;
}

.tarjeta-title{
  margin-left: 15px;
  font-size: 0.7em;
}

.tarjeta-number {
  font-size: 0.6em;
  margin-left: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}

.mtop-5 {
 margin-top: 10px;
}

.pointer{
  cursor: pointer;
}

.item-select {
  background: rgba(0, 0, 0, 0.04);
}

.mr-10{
  margin-left: 70px;
  float: right;
}

.next{
  margin-top :40px;
  margin-bottom: 40px;
}

.img-cuenta {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 10px;
  float: left;
}

.cuenta , .num-cuenta {
  float: left;
}

.desc-cuenta {
  margin-top: 10px;
}

.desc-cuenta .cuenta {
  font-size: 20px;
}

.desc-cuenta .num-cuenta {
  font-size: 17px;
}


.t-20 {
  margin-top: 20px;
}

.monto {
  font-size: 18px;
  margin-left: 15px;
  margin-top: 14px;
  padding: 0px;
  display: table;
  vertical-align: middle;

}

.vencimiento {
  vertical-align: middle;
  font-size: 14px;
  padding: 0px;
  margin-left: 15px;
  color: rgba(0, 0, 0, .5);
}

.card-body {
  padding: 0px !important;
}

.card-cuotas {
  margin-bottom: 3px;
}

.tarjetas-text{
  font-size: 15px;
  margin-top: 10px;
  color: rgba(0, 0, 0, .5);
}